* {
    box-sizing: border-box;
  }
  
  body {
    padding-top: 0;
    font-family: Helvetica Neue, Helvetica;
    background: #f7f7f7;
  }
  
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  form {
    padding: 0 10em;
  }
  
  form input, select {
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
  }
  
  form input.error {
    border-color: red;
  }
  
  form button {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    background-color: #84c00c;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;
  }
  
  form button:hover {
    background-color: #669509;
  }
  
  form button:disabled {
    background-color: #dbf99f;
    color: #333;
  }
  
  form button.small {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    background-color: #777;
    font-size: 14px;
  }
  
form button.small:hover {
    background-color: #999;
}

form button.left {
    float: right;
    margin-bottom: 25px;
    margin-top: 25px
}
  
.shareholder {
    display: flex;
    align-items: center;
    margin: 30px 0px 10px 0;
}

.shareholder .quest {
    width: 100%;
}

.shareholder .quest-in {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.shareholder .quest-in input {
    margin: 0 5px;
}

.shareholder button {
    margin: 0;
    margin-left: 10px;
}

.flex {
    display: flex;
}

.flex div:nth-child(1) {
    padding: 15px 30px;
    width: 50%;
}

.flex div:nth-child(2) {
    padding: 15px 30px;
    width: 50%;
}

.question {
    padding: 15px 30px;
}